TOKEN =" "
YOOTOKEN = " "


ADMIN_ID =
ADMINS_ID_GROUP = ,
BOT_NICKNAME= 'My_bot'
BOT_NAME = "My_bot"
URL_NEWS = ''
URL_SUPPORT = ''

OFFER_URL = 'https://shatlyk.space/offer.new.html'
HELP_URL = 'https://shatlyk.space/'



API_URL = ""
API_LINK = ""
API_USERNAME = ''
API_PASSWORD = ''
API_FLOW = "xtls-rprx-vision"

DATABASE_NAME = ''
DB_HOST='localhost'
DB_PORT = 3306
DB_USER=""
DB_PASSWORD=''

# POLLING_TIME указывается в минутах от 0 - 59
POLLING_TIME = 59

REFERRER_MONEY = 50
REFERRER_DAY = 15

DAYS_MONTH = 30

